global
    maxconn 4096
    nbthread 1

defaults
    mode http
    timeout connect 2s
    timeout client 5s
    timeout server 5s
    option http-keep-alive
    option forwardfor
    option dontlognull

frontend fe
    bind *:9999
    default_backend be

backend be
    balance roundrobin
    option httpchk GET /ready
    server api1 /tmp/sockets/api-1.sock check
    server api2 /tmp/sockets/api-2.sock check
